.header__logo {
  width: 100%;
  max-width: 142px;
  padding-bottom: 41px;
  background-color: black;
}

@media screen and (max-width: 426px) {
  .header__logo {
    margin-left: 8.4%;
    max-width: 104px;
    padding-bottom: 32px;
  }
}